<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather-icon.png"/>
    <title>About</title>
    <link href="/css/style.css" rel='stylesheet' />
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}
        <img class="portrait" src="/img/me.jpg" />
    </div>
    {{>footer}}
</body>

</html>